.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WINFRMCSNET8.AssemblyInfo.cs
WINFRMCSNET8.AssemblyInfoInputs.cache
WINFRMCSNET8.assets.cache
WINFRMCSNET8.designer.deps.json
WINFRMCSNET8.designer.runtimeconfig.json
WINFRMCSNET8.GeneratedMSBuildEditorConfig.editorconfig
WINFRMCSNET8.GlobalUsings.g.cs
project.assets.json
project.nuget.cache
WINFRMCSNET8.csproj.nuget.dgspec.json
WINFRMCSNET8.csproj.nuget.g.props
WINFRMCSNET8.csproj.nuget.g.targets
/SRC/1.UI/WINFRMCSNET6/obj
/SRC/1.UI/WINFRMCSNET7/obj
/.gitignore
/.vs/VS2K22/FileContentIndex/9ad2e877-d6ee-4a06-804a-a53648a8b46f.vsidx
/.vs/VS2K22/FileContentIndex/9cd44de2-068e-45d1-bf0a-c7a76f2fe6c6.vsidx
/.vs/VS2K22/FileContentIndex/a3122d99-4fa2-4792-bdca-61515db46852.vsidx
